.btn-login {
  background-color: #6277e9;
  margin-top: 10px;
  margin-left: 10px;
  a {
    text-decoration: none;
    color: #e7e7e7;
    display: flex;
    justify-content: center;
  }
}
mat-icon {
  margin-top: 5px;
  margin-right: 5px;
}
