.contact-item > .contact-item-detail {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.colon-contact-list {
  color: #2c3e8b;
  width: 3%;
}

.col-md-1 {
  width: 6%;
}
