<div *ngIf="data; else loading" class="google-list list-contact">
  <a
    *ngFor="let item of data.connections"
    target="_blank"
    class="list-group-item list-group-item-action"
  >
    <div class="contact-item d-flex">
      <img [src]="item.photos[0].url" class="img-contact" />

      <div class="contact-item-detail">
        <div *ngFor="let name of item.names">
          <h3>{{ name.displayName }}</h3>
        </div>

        <div *ngFor="let email of item.emailAddresses">
          <div class="row contact-label">
            <b class="col-md-1">Email</b>
            <b class="col-sm-1 colon-contact-list">::</b>
            <p class="col">{{ email.value }}</p>
          </div>
        </div>

        <div *ngFor="let phone of item.phoneNumbers">
          <div class="row contact-label">
            <b class="col-md-1">Phone</b>
            <b class="col-sm-1 colon-contact-list">::</b>
            <p class="col">{{ phone.canonicalForm }}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
<div class="container">
  <ng-template #loading>
    <div class="spinner-border m-2" role="status"></div>
    <span class="sr-only"> Loading...</span>
  </ng-template>
</div>
